<launch>
    <node name="setup" pkg="turtle_control" type="setup"/>
    <node name="translate" pkg="turtle_control" type="translate"/>
    <node name="follow" pkg="turtle_control" type="follow"/>
    <node name="turtlesim_node" pkg="turtlesim" type="turtlesim_node"/>

    <rosparam command="load" file="$(find turtle_control)/config/waypoint.yaml"/>
</launch>